<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title=${qrCode.name} + ' | QR24')"></head>

<body>
    <div class="container my-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5">
                <h2 class="mb-3">QR코드 방문기록 참여하기</h2>

                <h3 class="mb-3"
                    th:text="${qrCode.qrCodeTypeId == 2 ? qrCode.name : qrCode.carNumber}">
                    상호명(회사명) or 차량번호
                </h3>

                <p class="alert alert-info">
                    여러분의 참여로 COVID19 및 바이러스 확산에 빠른 대처와 예방이 가능합니다. <br><br>

                    방문 기록과 핸드폰 번호는 28일 후 자동 삭제됩니다. <br>
                    기록된 정보는 질병관리본부에서만 관리하며, 방문한 매장 관계자는 접근 불가합니다. <br>
                    고객님의 핸드폰번호 정보만 필요하며, 어떠한 다른 정보를 요구하지 않습니다. <br><br>

                    여러분의 참여로 사랑하는 가족과 친구를 보호할 수 있습니다! <br><br>

                    핸드폰 번호 입력, 인증번호 입력 후 참여하기 버튼을 클릭해주세요.
                </p>

                <form th:action="@{'/stores/' + ${qrCode.id} + '/visit'}" th:method="post" th:object="${visitorFormRequest}">
                    <div class="form-group">
                        <label for="inputPhoneNumber" class="text-black font-weight-bold">핸드폰 번호</label>
                        <input type="number" class="form-control text-black" th:field="*{phoneNumber}" id="inputPhoneNumber" placeholder="-없이 입력해주세요" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">핸드폰 번호 입력에러</small>
                    </div>

                    <!--<button type="submit" class="mb-3 btn btn-block btn-primary">인증번호 요청</button>-->

                    <div class="form-group">
                        <label for="inputConfirmNumber" class="text-black font-weight-bold">인증 번호</label>
                        <input type="number" class="form-control text-black" th:field="*{inputConfirmNumber}" id="inputConfirmNumber" placeholder="인증번호 입력" value="">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('inputConfirmNumber')}" th:errors="*{inputConfirmNumber}">인증번호 입력에러</small>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary">동의하고 제출하기</button>
                </form>
            </div>
        </div>

    </div>

    <div th:replace="fragments/script"></div>

</body>
</html>