<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:fragment="navbar" class="container">
        <nav class="navbar navbar-expand-lg navbar-light px-0">
            <a class="navbar-brand" th:href="@{/}">QR24</a>

            <ul class="nav ml-auto">
                <li class="nav-item my-auto mx-1">
                    <a class="btn btn-sm btn-primary" th:href="@{/qrcodes/new}">QR코드 생성</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img style="height: 34px; width: 34px; border-radius: 17px" th:src="@{/img/img_profile.png}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!--<a class="dropdown-item" th:href="@{'/users/' + ${#authentication.principal.id}}">프로필</a>-->
                        <a class="dropdown-item" th:text="${#authentication.name}">이메일</a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/users/logout}" th:method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

</html>