<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='로그인 | QR24')"></head>
<body>
    <div class="container mt-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5">

                <h1 class="py-3">QR24</h1>

                <p>
                    COVID19 및 바이러스 확산에 빠른 대처와 예방을 합니다. <br>
                    고객분들의 방문 기록을 간편하게 제공하는 QR코드 서비스입니다. <br>
                </p>

                <p>회원가입 동시에 QR코드 만들기 완성!</p>

                <h3 class="py-3">로그인</h3>

                <div th:if="${param.error}" class="alert alert-danger mt-3" role="alert">
                    <span>이메일 또는 비밀번호가 정확하지 않습니다.</span>
                </div>

                <form th:action="@{/users/sign-in}" th:method="post">
                    <div class="form-group">
                        <label for="email" class="text-black">이메일</label>
                        <input type="email" class="form-control text-black" id="email" name="email" placeholder="example@email.com">
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-black">비밀번호</label>
                        <input type="password" class="form-control text-black" id="password" name="password" placeholder="********">
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <div class="n-chk">
                                <label class="new-control new-checkbox checkbox-primary text-black">
                                    <input type="checkbox" class="new-control-input" id="remember-me" name="remember-me">
                                    <span class="new-control-indicator"></span>로그인 상태 유지
                                </label>
                            </div>
                            <a th:href="@{/forgot-password}">비밀번호 찾기</a>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary">로그인</button>
                </form>

                <div class="py-3 text-center">
                    <span>OR</span>
                </div>

                <div class="text-center text-muted">
                    <label>아직 회원이 아니신가요? <a class="text-primary" th:href="@{/users/sign-up}">회원가입 하러가기</a></label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>