<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='QR24')"></head>
<body>
    <div th:replace="fragments/navbar"></div>

    <div class="container mt-3">

        <h5 class="font-weight-bold">매장 목록 Ver1</h5>

        <div th:if="${#lists.isEmpty(stores)}">
            <div class="alert alert-danger" role="alert">
                현재 등록된 매장이 없습니다. 새로운 매장을 등록해주세요 :)
            </div>
        </div>

        <div class="row" th:if="${not #lists.isEmpty(stores)}">
            <div class="col-lg-4 mb-3" th:each="store : ${stores}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${store.name}">매장 이름</h5>
                        <p class="card-text" th:text="${store.roadAddress}">매장 도로명 주소</p>
                        <a th:href="@{'/stores/' + ${store.id}}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h5 class="font-weight-bold">매장 목록 Ver2</h5>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">NO</th>
                        <th scope="col">매장 이름</th>
                        <th scope="col">주소(도로명)</th>
                        <th scope="col">매장 관리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <button class="btn btn-sm btn-info">
                                상세정보
                            </button>
                            <button class="btn btn-sm btn-primary">
                                수정
                            </button>
                            <button class="btn btn-sm btn-danger">
                                삭제
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div th:replace="fragments/script"></div>
</body>
</html>